@import "../../assets/variables.scss";

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
   }
.employeeInfo {
    border: 2px solid $border-color;
    border-radius: 20px;
    height: 300px;
    width: 200px;
    margin: 20px;
    color: $text-color;
    background-color: $color-one;

    &:hover {
        box-shadow: 2px 2px 2px 2px $color-four;
    }
}